<div class="container">
    <div class="row ">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="titulo mb-3">Listar TARJETA</h5>
            <table class="table">
              <tr *ngFor="let tarjeta of listaTarjetas">
                <td>{{tarjeta.titular}}</td>
                <td>{{tarjeta.numeroTarjeta}}</td>
                <td>{{tarjeta.fechaExpiracion}}</td>
                <td ><i (click)="editarTarjeta(tarjeta)" class="fa fa-pen text-info"></i></td>
                <td><i (click)="eliminarTarjeta(tarjeta.id)" class="fa fa-trash text-danger"></i></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
  